*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-container{
  background-image:linear-gradient(orange,white,green);
  padding: 10px;
}
.logo{
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.navbar-items{
  list-style-type: none;
}